.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 1rem;
}

.task-management-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.task-list {
  border: 1px solid black;
  background-color: #343441;
  padding: 1rem;
  margin-right: 10px;
  border-radius: 12px;
  width: 75%;
}

.pagination {
  display: flex;
  gap: 10px;
  font-size: 24px;
  justify-content: center;
  align-items: center;
}

.pagination-button {
  cursor: pointer;
  background-color: rgb(172, 191, 252);
  padding: 1px 8px;
  border-radius: 12px;
  transition: 0.5s;
}

.pagination-button:hover {
  background-color: rgb(108, 141, 248);
}

.header-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  background: #833ab4;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  gap: 20px;
  height: 15rem;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  flex-direction: column;
}

.add-item-section {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.add-task-button {
  border: none;
  padding: 10px;
  background-color: rgb(143, 204, 73);
  font-size: 1rem;
  font-weight: bold;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.5s;
}

.add-task-button:hover {
  background-color: rgb(113, 196, 18);
}
.welcome-text {
  background-image: linear-gradient(
    90deg,
    rgb(27, 18, 189) 0%,
    rgb(67, 67, 161) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  color: transparent;
  background-clip: text;
}

.filter-buttons {
  cursor: pointer;
  color: #e1e1e1;
  padding: 10px;
  background-color: #402e7a;
  transition: 0.5s;
  min-width: 6rem;
}

.filter-buttons:hover {
  background-color: #69599b;
}

.filter-button-right {
  border: none;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.filter-button-left {
  border: none;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.filter-button-middle {
  border-bottom: none;
  border-top: none;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.filter-text {
  font-size: 1rem;
  color: #e1e1e1;
  font-weight: bold;
  margin-right: 6px;
}

.filtering-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.status-filter {
  margin-right: 13px;
}

.filter-title-input {
  border: none;
  padding: 3px;
  padding-right: 9rem;
  border-radius: 12px;
  padding-left: 10px;
}

input:focus {
  outline: none;
  box-shadow: none;
}

.active-page {
  background-color: rgb(109, 142, 253);
}
