<div class="item-container">
  <div class="item-title">
    <span>{{ id }}- </span> <span>{{ title }}</span>
  </div>
  <div class="action-buttons">
    <span
      style="color: black"
      [ngClass]="{
        'badge-danger': priority === 'High',
        'badge-yellow': priority === 'Medium',
        'badge-green': priority === 'Low',
      }"
    >
      {{ priority }}
    </span>
    <input
      (click)="MarkAsDone($event)"
      class="done-button"
      type="button"
      [value]="status == 'Done' ? 'Task is Done' : 'Mark Task As Done'"
      [disabled]="status == 'Done'"
    />
    <input
      (click)="OnEdit($event)"
      class="edit-button"
      type="button"
      value="EDIT"
    />
    <input
      (click)="OnDelete($event, id)"
      class="delete-button"
      type="button"
      value="DELETE"
    />
  </div>
</div>
