.item-container {
  display: flex;
  margin: 20px;
  padding: 5px 10px;
  background-color: #1e3e62;
  border-radius: 14px;
  width: auto;
  transition: 0.5s;
  cursor: pointer;
  justify-content: space-between;
  color: white;
}

.item-container:hover {
  background-color: rgb(41, 240, 230);
}

.item-title {
  padding: 5px;
}



.action-buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
