<div class="item-container" (click)="ViewTask()">
  <div class="item-title">
    <span>{{ id }}- </span> <span>{{ title }}</span>
  </div>
  <div class="action-buttons">
    <span
      style="color: black"
      [ngClass]="{
        'badge-danger': priority === 'High',
        'badge-yellow': priority === 'Medium',
        'badge-green': priority === 'Low',
      }"
    >
      {{ priority }}
    </span>
    <input
      (click)="onEdit($event)"
      class="edit-button"
      type="button"
      value="EDIT"
    />
    <input
      (click)="onDelete($event, id)"
      class="delete-button"
      type="button"
      value="DELETE"
    />
  </div>
</div>
