<div class="task-container">
  <div class="top-container-bar">
    <h1>Title: {{ title }}</h1>
    <div class="Action-buttons">
      <input class="edit-button" type="button" value="EDIT" />
      <input class="delete-button" type="button" value="DELETE" />
    </div>
  </div>
  <h3>Description: {{ description }}</h3>
  <h4>Status: {{ status }}</h4>
  <h4>
    Priority:
    <span
      style="color: black"
      [ngClass]="{
        'badge-danger': priority === 'High',
        'badge-yellow': priority === 'Medium',
        'badge-green': priority === 'Low',
      }"
    >
      {{ priority }}
    </span>
  </h4>
  <h4>Due Date: {{ dueDate | date: "medium" }}</h4>
  <h4>Created At: {{ createdAt | date: "medium" }}</h4>
</div>
