<div class="container">
  <div class="action-buttons">
    <input
      (click)="OnEdit()"
      class="edit-button"
      type="button"
      value="EDIT"
    />
    <input
      (click)="OnDelete()"
      class="delete-button"
      type="button"
      value="DELETE"
    />
  </div>
  <div class="box-container">
    <h1>{{ task.title }}</h1>
  </div>
  <div class="box-container description-container">
    <h2>Description</h2>
    <p>{{ task.description }}</p>
  </div>
  <div class="box-container additional-info-container">
    <h3>Additional information</h3>
    <p>Status: {{ task.statusOptions }}</p>
    <p>
      Priority:
      <span
        style="color: black"
        [ngClass]="{
          'badge-danger': task.priority === 'High',
          'badge-yellow': task.priority === 'Medium',
          'badge-green': task.priority === 'Low',
        }"
      >
        {{ task.priority }}
      </span>
    </p>
    <p>Due Date: {{ task.dueDate | date: "medium" }}</p>
    <p>Created At: {{ task.CreatedAt | date: "medium" }}</p>
  </div>
</div>

