<div class="container">
  <div class="box-container form-container">
    <label for="">Title</label>
    <input type="text" name="" placeholder="title" id="" />

    <label for="">Description</label>
    <textarea rows="5" name="" id=""></textarea>

    <label for="" class="radio-label">Status</label>
    <div class="radio-container">
      <div>
        <input
          type="radio"
          value="To Do"
          name="status"
          checked="checked"
          id=""
        />
        <span>To Do</span>
      </div>
      <div>
        <input
          type="radio"
          value="In Progress"
          name="status"
          id=""
        />
        <span>In Progress</span>
      </div>
      <div>
        <input
          type="radio"
          value="Done"
          name="status"
          id=""
        />
        <span>Done</span>
      </div>
    </div>
    <label for="" class="radio-label">Priority</label>
    <div class="radio-container">
      <div>
        <input
          type="radio"
          value="Low"
          name="priority"
          checked="checked"
          id=""
        />
        <span>Low</span>
      </div>
      <div>
        <input
          type="radio"
          value="Medium"
          name="priority"
          id=""
        />
        <span>Medium</span>
      </div>
      <div>
        <input
          type="radio"
          value="High"
          name="priority"
          id=""
        />
        <span>High</span>
      </div>
    </div>

    <label for="">Due Date</label>
    <input type="date" name="" id="" />

    <div class="button-area">
      <input type="button" value="Save" class="btn-save" />
    </div>
  </div>
</div>
